<section class="container gallery"> 
    <div class="gallery-block">
        <div class="gallery-title">
            <p class="name">Gallery</p>
            <p class="gallery-text">Lorem ipsum dolor sit amet,
                consectetur adipiscing elit.
                Nulla dignissim, felis quis molestie
                sollicitudin, orci quam tincidunt diam, 
                id rutrum dui urna sit amet quam. </p>
        </div>
        <div class="pictures">
            <div class="f-inner">
                <img src="../images/nature1.png" alt="nature">
                <img src="../images/nature2.png" alt="nature">
            </div>
            
            <div class="s-inner">
                <img src="../images/nature3.png" alt="nature">
                    <div class="block-one">
                        <div class="inner-one">
                            <img src="../images/nature-small-1.png" alt="nature">
                            <img src="../images/nature-small-2.png" alt="nature">
                        </div>
                        <img src="../images/nature-small-3.png" alt="nature">
                    </div>
            </div>
        </div>
    </div>

    <img  class="image" src="../images/nature-rectangle.png" alt="forest">
  
</section>