<main class="main">
    <div class="container"> 
        <a class="logo" href="#">Tourism.</a>

        <div class="banner-main">
            <h1 class="banner-main-title"><span>explore the</span><br>deep forest</h1>
            <p class="banner-main-subtitle">Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit, sed do eiusmod <br>
                tempor incididunt ut labore et 
                dolore magna aliqua.
            </p>
        </div>
    </div>
</main>
