<section class="statistics">
    <div class="container">       
        <h3 class="stat-title">Statistics</h3>
        
        <p class="question">Did You Know?</p>
        <p class="stat-text">Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit.
            Sed sit amet suscipit leo.
            Sed lectus odio, accumsan vitae
            suscipit in, posuere et orci.
            Nunc a feugiat arcu. Proin 
            fringilla lectus non finibus
            malesuada. In in nulla augue
            . Integer id lacus ultrices,
            pharetra tellus a, pulvinar lorem.
            Pellentesque quis pretium nulla, 
            sit amet efficitur justo. Morbi
            luctus vehicula diam, 
            vitae facilisis libero ultrices eu.</p>

        <ul class="numbers">
            <li>
                <span>2000</span>
                <p>Lorem Ipsum</p>
            </li>
            <li><span>23</span>
                <p>Lorem Ipsum</p>
            </li>
            <li><span>19382</span>
                <p>Lorem Ipsum</p>
            </li>
            <li><span>120</span>
                <p>Lorem Ipsum</p>
            </li>
        </ul>
         
    </div> 
</section>
 