<section>
    <div class="statistics">       
        <h3 class="">Statistics</h3>
        
        <p>Did You Know?</p>
        <p>Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit.
             Sed sit amet suscipit leo.
              Sed lectus odio, accumsan vitae
               suscipit in, posuere et orci.
                Nunc a feugiat arcu. Proin 
                fringilla lectus non finibus
                 malesuada. In in nulla augue
                 . Integer id lacus ultrices,
                  pharetra tellus a, pulvinar lorem.
                   Pellentesque quis pretium nulla, 
                   sit amet efficitur justo. Morbi
                    luctus vehicula diam, 
                    vitae facilisis libero ultrices eu.</p>

        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
         
    </div> 
</section>
 