.gallery {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 70px 0;
    .gallery-block {
        width: 73%;
        .gallery-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 52px;
            .name {
                font-size: 30px;
                letter-spacing: 1.2px;
                padding-right: 60px;
            }

            .gallery-text {
                letter-spacing: 0.52px;
                line-height: 20px;
            }
        }

        .pictures {
            display: flex;
            flex-direction: row;
            .f-inner {
                display: flex;
                flex-direction: column;
            }

            .s-inner {
                .block-one {
                    display: flex;
                    flex-direction: row;
                    margin-top: -2px;
                    .inner-one {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }

    .image {
        display: inline-block;
        margin-top: -142px;
        width: 24%;
        img {
            width: 100%;
        }
    }
}

@media (max-width: 767px) {
    .gallery {
        text-align: center;
        .gallery-block {
            width: 100%;
            .gallery-title {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                max-width: 80%;
                .name {
                    padding-bottom: 25px;
                    padding-right: 0;
                }
            }

            .pictures {
                .f-inner {
                    display: none;
                }

                .s-inner {
                    margin: 0 auto;
                }
            }
        }

        .image {
            display: none;
        }
    }
}

@media (min-width: 767px) and (max-width: 992px) {
    .gallery {
        text-align: center;
        .gallery-block {
            width: 100%;
            .gallery-title {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                max-width: 80%;
                .name {
                    padding-bottom: 25px;
                    padding-right: 0;
                }
            }

            .pictures {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        }

        .image {
            display: none;
        }
    }
}
