.gallery {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 70px 0;
    position: relative;
    .gallery-block {
        width: 730px;
        .gallery-title {
            display: flex;
            padding-bottom: 52px;
            .name {
                font-size: 30px;
                letter-spacing: 1.2px;
                line-height: 57px;
                padding-right: 60px;
            }

            .gallery-text {
                letter-spacing: 0.52px;
                line-height: 20px;
                padding-top: 10px;
            }
        }

        .pictures {
            display: flex;
            flex-direction: row;
            .f-inner {
                display: flex;
                flex-direction: column;
            }

            .s-inner {
                .block-one {
                    display: flex;
                    flex-direction: row;
                    margin-top: -2px;
                    .inner-one {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }

    .image {
        height: 740px;
        left: auto;
        position: absolute;
        right: 0;
        top: -63px;
        width: 230px;
    }
}

@media (max-width: 767px) {
    .gallery .gallery-block .pictures {
        .f-inner  {
            display: none;
        }
        .s-inner {
            margin: 0 auto;
        }
    }
    .gallery {
        padding-left: 15px;
        padding-right: 15px;
        .image {
            display: none;
        } 
    }
}

@media (min-width: 767px) and (max-width: 992px)  { 
    .gallery {     
        .gallery-block {
            margin: 0 auto;
        }
        .image { 
            display: none;
        }
    } 

// @media (min-width: 993px) and (max-width: 1200px) {
}