* {
    box-sizing: border-box;
}

body {
    color: $black;
    font-family: 'Roboto300', sans-serif;
    font-size: 13px;
}

html {
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
    max-width: 960px;
}

a {
    cursor: pointer;
    display: block;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

.btn {
    @include button-reset;
    @include btn-style;
}
// @media  (max-width: 767px) {
//     .container {
//         width: auto;
//         min-width: 320px;
//         padding: 0 15px;
// 	}
// }
// @media (min-width: 768px) and (max-width: 992px) {
//     .container {
//         max-width: 768px; 
// 	}
// } 