.main {
    background: url('../images/bg-main.png') center no-repeat/cover;
    color: $white;
    padding: 80px 0 245px 0;
    //--component breakpoints start
    @include large {
        //transform: scale(4);
    }

    @include medium {
        //transform: scale(6);
    }
    //--component breakpoints end
    .logo {
        @include logo;
        padding-bottom: 195px;
        //--component breakpoints start
        @include large {
            //transform: scale(4);
        }

        @include medium {
            //transform: scale(6);
        }
        //--component breakpoints end
    }

    .banner-main {
        padding-bottom: 245px;
        //--component breakpoints start
        @include large {
            //transform: scale(4);
        }

        @include medium {
            //transform: scale(6);
        }
        //--component breakpoints end
        .heading{
            font-family: 'Roboto700';
            font-size: 63px;
            letter-spacing: 2.52px;
            margin-bottom: 10px;
            text-transform: uppercase;

            span {
                color: #b7b7b7;
                font-family: 'Roboto700';
                font-size: 23px;
                letter-spacing: 0.92px;
                line-height: 1;
            }
        }

        .heading-subtitle {
            font-family: 'Roboto400', sans-serif;
            font-size: 14px;
            letter-spacing: 0.84px;
            line-height: 21px;
        }
    }
}
