 .main {
    background: url(../images/bg-main.png) center no-repeat/cover;
    color: $white;
     //--component breakpoints start
     @include large {
         //transform: scale(4);
     }
     @include medium {
         //transform: scale(6);
     }
     //--component breakpoints end
    .logo {
        @include logo;
        padding: 80px 0 195px 0;
        //--component breakpoints start
        @include large {
            //transform: scale(4);
        }
        @include medium {
            //transform: scale(6);
        }
        //--component breakpoints end
    }
    .banner-main {
        padding-bottom: 245px;
        //--component breakpoints start
        @include large {
            //transform: scale(4);
        }
        @include medium {
            //transform: scale(6);
        }
        //--component breakpoints end
        &-title {
            font-family: 'Roboto700';
            font-size: 63px;
            text-transform: uppercase;
            margin-bottom: 10px;
            letter-spacing: 2.52px;

            span {
                font-family: 'Roboto700';
                font-size: 23px;
                letter-spacing: 0.92px;
                color: #b7b7b7;
                line-height: 1;
            }
        }
        &-subtitle {
                font-family: 'Roboto400', sans-serif;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 0.84px;
        }
    }
}
