.statistic {
    margin-bottom: 50px;    
    h3  {
        font-family: 'Playfair Display', serif;
        color: $light-pink;
        font-size: 72px;
        letter-spacing: 7.2px;
        margin: 0 auto 125px;
        text-align: center;
    } 
     
    p {
        line-height: 30px;
    }
     
}  
@media (max-width: 767px) {   
   
}
@media (min-width: 767px) and (max-width: 992px) { 
   
}
@media (min-width: 993px) and (max-width: 1200px) {
        
}