.video {
    background: url('../images/video-block-bg.png') center no-repeat/cover;
    padding-top: 115px;
    text-align: center;
    .banner-text {
        @include banner-text;
        padding-bottom: 75px;
    }

    .logo {
        @include logo;
        padding: 115px 0 95px 0;
    }
}
