@mixin logo {
    font-size: 21px;
    font-family: 'Roboto700';
    color: $white;
    line-height: 30.34px;
    letter-spacing: 0.84px;
    text-align: center;
}
@mixin banner-text {
    width: 620px;
    margin: 0 auto;
    line-height: 26px;
    letter-spacing: 0.52px;
    color: $white;
    padding-top: 25px;
}
@mixin button-reset {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}
@mixin btn-style {
    width: 170px;
    font-size: 23px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.92px;
    color: $white;
    border: 1px solid $white;
    padding: 9px 11px;
    text-align: center;
}
